        table{
            display: inline-block;
            position: relative;
            width: 1254px;
            border: 2px solid rgb(0, 0, 0);
            box-sizing: border-box;
        }

        tr{
            display: inline-block;
            position: relative;
            width: 1246px;
            height: 30px;
            border: 1px solid rgb(104, 89, 89);
            box-sizing: top, under;
        }

        td{
            display: inline-block;
            position: relative;
            width: 100px;
            height: 25px;
            top: 2px;
            left: 2px;
            border: 1px solid rgb(0, 0, 0);
            box-sizing: border-box;
            overflow:auto;
            text-align: center;
        }

        td.sp{
            width: 200px;
        }

        .searching{
            border: 1px solid rgb(0, 0, 0);
            box-sizing: border-box;
            width: 1262px;
        }

        .giving{
            border: 2px solid rgb(0, 0, 0);
            box-sizing: border-box;
            width: 300px;
        }